// Variables
$font-family: 'Arial, Helvetica, sans-serif';
$primary-color: #fff;
$background-color: #000;
$dark-color: #00000020;

// Tamaños de fuente
$font-size-small: 15px;
$font-size-medium: 18px;
$font-size-large: 45px;

// Espaciado
$padding-section: 70px;
$padding-carousel-caption: 200px;

